<header>
  <nav>
    <ul>
      <div class="nav-left">
        <li><a href="/"><i class="fas fa-home"></i>Justin Ottesen</a></li>
        <li><a href="https://www.linkedin.com/in/justinottesen/"><i class="fab fa-linkedin"></i>LinkedIn</a></li>
        <li><a href="https://github.com/justinottesen/"><i class="fab fa-github"></i>GitHub</a></li>
      </div>
      <div class="nav-right">
        <li><a href="/pages/projects.html"><i class="fas fa-folder"></i>Projects</a></li>
      </div>
    </ul>
  </nav>
</header>